<phpunit bootstrap="vendor/autoload.php" colors="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/Mandrill</directory>
        </whitelist>
    </filter>
    <php>
        <!-- uncomment the line below to run integration tests with a Mandrill test API key -->
        <!--<env name="MANDRILL_APIKEY" value="example_key" />-->
    </php>
    <groups>
        <exclude>
            <!-- remove the line below to enable integration tests, Mandrill API key required -->
            <group>integration</group>
        </exclude>
    </groups>
</phpunit>
